<div class="container">
  <form class="row" [formGroup]="photoForm" (submit)="SubmitUploadForm()">
    <div class="col-md-6 text-center">
      <div class="form-group" *ngIf="!preview; else previewImage">
        <button appAutoClick class="btn btn-primary" type="button" (click)="fileInput.click()">
          <i class="fa fa-image fa-4x align-middle"></i>
        </button>
        <input #fileInput type="file" accept="image/*" formControlName="file" (change)="OnUploadFileChange($event)" hidden>
        <app-message message="Please, select a photo" *ngIf="Validate('file', 'required')"></app-message>
      </div>
      <ng-template #previewImage>
        <div class="text-center">
          <app-photo [url]="preview" title="Preview"></app-photo>
        </div>
      </ng-template>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <textarea class="form-control form-control-sm" placeholder="photo description" formControlName="description"></textarea>
        <app-message message="Maximum length is 15 characters" *ngIf='Validate("description", "maxlength")'></app-message>
      </div>
      <div class="form-group">
        <label class="text-muted" for="allow-comments">
          Allow comments
          <input type="checkbox" id="allow-comments" formControlName="allowComments">
        </label>
      </div>
      <div *ngIf="!uploadProgress; else uploadProgressTemplate">
        <button [disabled]="photoForm.invalid" class="btn btn-primary btn-block">
          Upload
        </button>
        <a class="btn btn-secondary btn-block" [routerLink]="['']">
          Cancel
        </a>
      </div>
      <ng-template #uploadProgressTemplate>
        <div class="text-center display-4">
          Uploading {{ uploadProgress }}%
        </div>
      </ng-template>
    </div>
  </form>
</div>
