<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
    <a href="" class="navbar-brand">AluraPic</a>
    <div *ngIf="(user$ | async) as user; else login">
      <a class="me-2">
        <i class="fa fa-user-circle me-2"></i>
        {{user.name}}
      </a>
      <a (click)="logout()">Logout</a>
    </div>
    <ng-template #login>
      <span class="navbar-text">
        <a [routerLink]="['']">Please, login!</a>
      </span>
    </ng-template>
  </nav>
  <div class="fixed-top">
    <app-alert></app-alert>
  </div>
</header>
